<h5>Idea Factory</h5>
<% @ideas.each do |idea| %>
<div class="card">
    <div class="card-body">
        <h5><%= link_to idea.title, idea_path(idea), class: "card-title" %></h5>
        <h5 class="card-text"><%= idea.description %></h5>
        <h5><%= "By: " + idea.user.name %></h5>
    </div>
</div>
<br>
<% end %>
